.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: blue;
  color: white;
  padding: 25px;
}

button {
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
}

li {
  list-style: none;
}

table {
  margin: 20px auto;
  color: white;
}

thead {
  text-align: center;
  height: 100px;

}

tbody {

}

tr {
  /* border: solid gold 2px; */
  border-radius: 30px;
  height: 100px;
}


th {
  padding: 0 15px;
}

td {
  padding: 20px;
  border: none;

}

.data {
  text-align: center;
  padding: 20px;
}

.childNameCol {
  padding: 0 50px;
}

.childName {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: white;
  color: blue;
}


.header {
  /* display: flex;
  justify-content: space-between; */
}

.header-titles {
  display: flex;
  justify-content: space-between;
}

#h1-header {
  width: 70%;
  padding-left: 20px;
}
/*
=====================
=   T & B Dashboard
=====================
*/

.TBDashboard {
  display: flex;
  justify-content: center;

}

ul {
  padding: none;
}



/*
=====================
=   Child Dashboard
=====================
*/

.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.score-super-header {
  display: flex;
  flex-direction: row;
}

.score-super-header > h1 {
  display: flex;
  flex-direction: row; 
  width: 50%;
}

.score-data-container {
  display: flex;
}

.score-data > h2 {
  transform: rotate(-45deg);

}


.score-data > h3 {
  height: 60px;
  text-align: center;
  height: 25px;
  margin-top: 60px;
}

/*
=====================
=   LISTS Dashboard
=====================
*/
.list-headers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: space-between;
  /* width: 300px; */
}

.items {
  margin: 10px;
  background-color: rgba(119, 83, 154, 0.66);
  border-radius: 360px;
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  vertical-align: bottom;
  width: 100%;
  padding: 0;
  padding-top: 10px;
  margin-bottom: -15px;
  height: 50px;
  /* border: solid gold 2px; */
}


.data > h4, .list-title-header {
  width: 200px;
  text-align: center;
  /* border: solid gold 2px; */
}

.data > p, .list-data-header {
  width: 100px;
  text-align: center;
  /* border: solid gold 2px */

}


.list-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.fas {
  height: 30px;
  padding: 15px;
}

.fas:hover  {
  color: rgb(217, 175, 36);
}

button:hover  {
  background-color: rgb(217, 175, 36);
}
